.mainBox{
    background-color: rgb(38, 38, 70);
    display:flex;
    justify-content:space-between;
}

.aboutPage{
    margin-left: 20px;
    width: 40%;
}
.aboutMe{
    margin-right: 20px;
    width: 40%;
}
.a{
    text-decoration: none;
    color: rgb(193, 213, 231);;
}
@media (max-width: 720px){
    .mainBox{
        display: block;
    }
    .aboutPage{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    .aboutMe{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
}