.mainBox{
    display: flex;
    align-items:center;
    justify-content:center;
}
.searcher{
    display: flex;
    align-items: center;
}
select{
    margin: 5px;
    background-color:rgb(75, 69, 111);
    border: none;
    padding: 0 1em 0 0;
    font-family: Helvetica;
    color: antiquewhite;
}
select:hover{
    cursor: pointer;
}
.button{
	box-shadow:inset 0px 39px 0px -24px #9440bd;
	background-color:#9440bd;
	border-radius:16px;
	border:2px solid #d4c3d4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:1px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
    margin-left: 18px;
}
button:hover{
    cursor: pointer;
    box-shadow:inset 0px 39px 0px -24px #552595;
}
input{
    border-radius: 6px;
    background-color: #b8b7e5;
}